{% load static %}
<html lang="ru">
    <head>
	<link rel="icon" href="{% static 'img/Logo-anna.jpg' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'vendors/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/fontawesome/css/all.min.css' %}">
	<link rel="stylesheet" href="{% static 'vendors/themify-icons/themify-icons.css' %}">
	<link rel="stylesheet" href="{% static 'vendors/linericon/style.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/magnefic-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.theme.default.min.css' %}">
    <link rel="stylesheet"  href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/nice-select/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <title>
            {% block title %}
                Anna Hotel
            {% endblock %}
        </title>

    </head>

    <body>
        <header>
            {% include 'includes/header.html' %}
        </header>
        <main>
            {% block content %}

            {% endblock %}
        </main>
        <footer>
            {% include 'includes/footer.html' %}
        </footer>

        <script src="{% static 'vendors/jquery/jquery-3.2.1.min.js' %}"  %></script>
        <script src="{% static 'vendors/bootstrap/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'vendors/magnefic-popup/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
	    <script src="{% static 'vendors/easing.min.js' %}"></script>
        <script src="{% static 'vendors/superfish.min.js' %}"></script>
        <script src="{% static 'vendors/nice-select/jquery.nice-select.min.js' %}"></script>
        <script src="{% static 'vendors/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static 'vendors/mail-script.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>